:root {
  --colorPrimary: #a08067;
  --colorPrimaryText: #fff;
  --colorDanger: #ff4500;
  --colorSuccess: #09ff00;
  --colorText: #fff;
  --colorBackground1: #000;
  --colorBackground2: #333;
  --colorModalBackground: rgba(0, 0, 0, 0.75);
  --colorBoxShadow: rgba(0, 0, 0, 0.5);
  --colorBorder: #a08067;

  --layoutHeaderHeight: 4rem;
  --itemWidth: 20rem;
}
